{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>About Me</u></h1>
<br>
<div>
    <img width="480" height="400" src="{% static 'img/bg/about_bg.jpg' %}" alt="">
</div>
<br>
<h1>TL;DR</h2>
<p>An ambitious and driven software engineer seeking a challenging and rewarding opportunity to use and grow my tech skills.</p>
<h1>TS;WM - Too Short; Want More</h1>
<p>I graduated with a Bachelors in Finance from the University of Georgia but never could get truly interested in the subject.
    &nbspOne day I read an article claiming I could learn to be a developer in 6 months so I decided to take the plunge.&nbsp
    5 years and countless articles, tutorials, courses, books, projects and stack overflow questions later I feel like I
    am ready for a tech career.
</p>  
<p>I am most confident with Python but I have dabbled with numerous other languages and technologies throughout my journey.
    &nbsp Recently I have become fascinated with the cloud. &nbsp So far I have earned the AWS Solutions Architect Associate certification
   and I am currently studying for the AWS developer certification.
</p>
<p>When I am not learning and practicing new tech skills I enjoy golfing, poker, and spending time with my
    wife and 4 kids.
</p>
{% endblock content %}